.time {
  padding: 0.25rem 0.75rem;
  color: rgb(255, 19, 97);
  background: rgba(255, 0, 98, 0.24);
  border-radius: 2rem;
}

.rating {
  color: gold;
  font-size: 1.5rem;
}
.learn-more {
  color: rgb(243, 194, 102);
  background-color: transparent;
  border: none;
}
