@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  font-family: "Poppins", sans-serif;
}

.my-btn-1 {
  padding: 0.75rem 1.5rem;
  color: white;
  background-color: lightcoral;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.25rem;
}

.my-btn-2 {
  padding: 0.75rem 1.5rem;
  background-color: #80a6e4;
  border-radius: 0.75rem;
  border: none;
  color: white;
  margin: 1.5rem 0;
  font-size: 1.25rem;
}
